.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  margin-left: 10px;
  color: rgb(99, 99, 99) !important;
  transition: 0.3s ease-in-out;
}
.nav-brand {
  height: 35px;
  width: 35px;
}
.nav-link:hover {
  color: #191919 !important;
  transition: 0.3s ease-in-out;
}

.nav-link p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.profile-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 2px 0px 8px rgba(0,0,0,0.2);
  z-index: 104;
}
.second-nav {
  border-left: 0.1px solid rgb(99, 99, 99, 0.5);
}

@media (max-width: 992px) {
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    align-items: flex-start !important;
    text-align: left !important;
    font-size: 23px;
    margin-left: 10px;
    padding: 10px;
    color: rgb(99, 99, 99) !important;
    transition: 0.3s ease-in-out;
  }

  .second-nav {
    border-left: none !important;
  }
}
