img {
  width: 100px;
  height: 100%;
}
.containers {
  margin: 10px 48px;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid grey;
 display: inline-block;
 justify-content: center;
 align-items: center;
 text-align: center;
}
a {
  margin-top: 4px;
  margin-bottom: 4px;
}

a:visited,
p {
  color: #57687a;
}

a:hover {
  color: #0073b1;
}

#privacy {
  border: none;
  background-color: transparent;
  margin-right: 2px;
  font-size: 12px;
  color: #57687a;
  font-weight: bold;
}
#privacyItems {
  background-color: white;
  margin-right: 2px;
  font-size: 12px;
}
